{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RiskView Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'RiskView/style.css' %}">
    {% block extra-css %}
    {% endblock %}
</head>
<body>
    <header>
        <h1>RiskView</h1>
        <nav>
            <ul>
                <li><a href="{% url 'RiskView:dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'RiskView:portfolio' %}">Add Portfolio</a></li>
                <li><a href="{% url 'RiskView:kri' %}">Add KRI</a></li>
                <li><a href="{% url 'RiskView:perfreport' %}">Add Performance Metric</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block body-block %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 RiskView</p>
    </footer>
</body>
</html>
